# System files
.DS_Store

# Obsolete project files
restorePoints
*.bak
*.bkup
*.log
persistedChannelValues.properties

# Temporary omitted
# Possibly could be included when more tailored Views/Dashboards are created
dashboard
TuneView